
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="homepage.css" />
    <title>Home Page</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100;1,400;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 140vh;
  min-width: 100vw;
  background: rgb(107, 215, 215);
  padding-bottom: 50px;
  background-image: url("gradient.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

h1 {
  color: black;
}

h1 span {
  font-style: italic;
}

h1 span:hover {
  color: purple;
  opacity: 0.8;
  transition: color 0.3s ease;
}

.top {
  padding: 50px;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
}

.topleft,
.topright {
  display: flex;
}

.topright {
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}

.topright a {
  text-decoration: none;
  color: cornsilk;
}

.topright a:hover {
  color: purple;
  opacity: 0.8;
  transition: color 0.3s ease;
}

.carddiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: rgba(255, 255, 255, 0.3);
  
  padding: 70px;
  color: cornsilk;
  height: fit-content;
  width: 70vw;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "one one two two two "
    " three  three three three three"
    " . four four four .";
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
}

.photo {
  text-align: center;
  min-width: 200px;
  border-radius: 20px;
  border: 4px solid cornsilk;
}

.photo img {
  width: 220px;
  height: 300px;
}

.one {
  grid-area: one;
}

.two {
  color: cornsilk;
  grid-area: two;
  padding: 25px 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.three {
  padding: 25px 35px;
  border-radius: 8px;

  grid-area: three;
  background-color: rgba(209, 20, 20, 0.5);
}

.four {
  grid-area: four;
  text-align: center;
}
    </style>
  </head>
  <body>
    <div class="top">
      <div class="topleft">
        <h1><span>Personal</span> Info</h1>
      </div>
      <div class="topright">
        <b><a href="/">Home</a></b>
        <b><a href="/services">services</a></b>
        <b><a href="/projects">projects</a></b>
        <b><a href="/contacts">contact</a></b>
      </div>
    </div>
    <div class="carddiv">
      <h1 style="color: cornsilk;" >About Us</h1>
      <br><br>
      <div class="card">
        
        <div class="one">
          <div class="photo">
            <img src="/images/WhatsApp Image 2023-05-28 at 17.07.41.jpg" alt="" />
            <i><p><b>Rahul Garg</b></p></i>
           
          </div>
        </div>

        <div class="two">
          <p>
            "Move to What Moves You”
            <br />
            <span style="margin-left: 30px"
              ><b><i>-Rahul Garg</i></b></span
            >
          </p>
          <br />
          <br />
          <p>
            <b><i>Team Rahul</i></b> specializes in making full stack deveopment, mobile app development and other things too. I am responsible for 
            all the front end development and other things too.
          </p>
        </div>

        <div class="three">
          <p>
            esponsive Design: Ensures that the website or application adapts and displays properly across different devices and screen sizes, such as desktops, tablets, and mobile phones.

            Navigation Menu: Provides a user-friendly way to navigate through different sections or pages of the website, often presented as a menu bar or hamburger menu for mobile devices.
            
            Forms and Input Validation: Allows users to input data, such as submitting contact information or filling out a registration form, with validation to ensure correct and complete information.
          </p>
        </div>
        
        <div class="four">
          <b><p>Contact me  Now</p></b>
          <br>
          <i><p>+1 123-456-7890</p></i>
          <i><p>rahul@gmail.com</p></i>
          <br>
          <br>
        </div>

      </div>
    </div>
  </body>
</html>
